.resaltado{
    background-color: rgb(158, 241, 132);
}
.fondo {
background-color: rgb(114, 204, 231);
}
.active {
    font-weight: bold;
    color: #0b0c08; 
    background-color: rgb(158, 224, 255);/* Puedes cambiar el color o estilo según prefieras */
  }
  .text-right {
    text-align: right; /* Alinea el contenido al lado derecho */
  }
  
  .img-right {
    display: inline-block; /* Asegura que la imagen se comporte como un bloque en línea */
  }